

body{
	background-color: #FFF8DC;
	font-family: "宋体"；
	font-size：2px;
}
.header{
	background: url(../images/pic3.jpg);
	width:1005px;
	height: 300px;
	background-repeat: no-repeat;
	margin-left: 200px;
	opacity: 0.9;
	
}
.no1{
	height: 283px;
	width: 1000px;
}
.nav{
	width: 1005px;
	height:50px;
	background-image: url(../images/pic2.jpg);
	margin-bottom: 0px;
	float: left;
}


.nav ul li{
	list-style:none;

}
.nav ul li a{
	text-decoration: none;
	margin:5px;
	float: left;
	color:#ff3333;
	margin-left:5px;
	margin-top: 2px;
}
.nav ul li a:hover{
	color: #9900ff;
	text-decoration: underline;
}
.logo{
	margin-top: -36px;
	float: right;
}
.logo input{
	float: right;
	margin-top: 30px;
	margin-right: 2px;

    height: 30px;
}
.logo input[type="button"]{
	margin-right: 50px;
	background-image: url(../images/ss.gif);
	width: 43px;
	height: 34px;
}
.banner img{
	margin: auto;

}

.content{
	width:1005px;
	height:325px;
	margin-top: -5px;
	margin-left: 200px;
	background-color: #EEE9E9;

}
.left{
	float: left;
}
.left img{
	margin-left:10px;
	margin-top:5px; 
	
}
.center{
	height:313px;
	float: left;
	margin-top:5px;
	margin-left: 0px;
	
}
.no3 ul li  {
	list-style:none;
}
.no3 ul li a{
	text-decoration: none;
	margin:5px;
	float: left;
	color:#EEC900;
	line-height: 37px;
	margin-top: -2px;
}
.no3 ul li a:hover{
	color: #FF1493;
	text-decoration: underline;
}
.no3 ul li a img{
	width: 100px;
	height: 80px;
	margin-top: 5px;
	margin-left: 5px;
}
.no4
{
	margin-top: -5px;
	margin-left: 35px;
}
.right{
	float: left;
	margin:5px; 
	margin-left: 5px;
	margin-top: 5px;
	background-color: #EEE8CD;
}
.right img{
	margin-top: 5px;

}
.neirong{
	width:1005px;
	height:325px;
	margin-left: 200px;
	background-color: #EEE9E9;

}
.left1{
	float: left;
}
.left1 img{
	margin-left:10px;
	margin-top:0px; 
	
}
.center1{
	height:313px;
	float: left;
	margin-top:5px;
	margin-left: 0px;
	
}
.no5 ul li  {
	list-style:none;

	
}
.no5 ul li a{
	text-decoration: none;
	margin:5px;
	float: left;
	color:#EEC900;
	line-height: 33px;
	margin-top: -2px;
	margin-left: -3px;

}
.no5 ul li a:hover{
	color: #FF1493;
	text-decoration: underline;
}
.right1{
	float: left;
	margin:5px; 
	
	margin-left: 10px;
	margin-top: 5px;
}
.right1 img{
	margin-top: 5px;

}
.footer{
	width: 1005px;
	
	height:100px;
	margin-top:5px;
	margin-left: 200px;
	
}
.no6{
	margin-left: 220px;
}
.no6 ul li  {
	float: left;
	list-style:none;

}
.no6 ul li a{
	text-decoration: none;
	margin:5px;
	color:#DDA0DD;
	margin-top: -2px;


}
.no6 ul li a:hover{
	color:#9ACD32;
	text-decoration: underline;
}
.no7 a{
	color: #DDA0DD;
	margin:5px;
	margin-left: 290px;
	text-decoration: none;

}
.mianbaoxie{
	
	margin-top:35px;
	margin-left: 200px;
	width: 1005px;
	height: 30px;
	background-color:#EEE9E9;
}
.mianbaoxie a{
	text-decoration: none;
}
.pic5{
	margin-top: -25px;
	margin-left: 25px;

}
.pic5 img{
	margin-top: -400px;

}